<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Workout Log</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Edit Workout Log</h1>
    </header>
    <main>
      <form
        action="/home/workout-log/<%= log._id %>/edit"
        method="POST"
        enctype="multipart/form-data"
      >
        <div>
          <label for="username">Name:</label>
          <input
            type="text"
            id="username"
            name="username"
            value="<%= log.username %>"
            readonly
          />
        </div>
        <div>
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= log.title %>"
            required
          />
        </div>
        <div>
          <label for="exercise">Exercise:</label>
          <input
            type="text"
            id="exercise"
            name="exercise"
            value="<%= log.exercise %>"
            required
          />
        </div>
        <div>
          <label for="duration">Duration (minutes):</label>
          <input
            type="number"
            id="duration"
            name="duration"
            value="<%= log.duration %>"
            required
          />
        </div>
        <div>
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            value="<%= log.date.toISOString().split('T')[0] %>"
            required
          />
        </div>
        <div>
          <label for="description">Description:</label>
          <textarea id="description" name="description" rows="5" required>
<%= log.description %></textarea
          >
        </div>
        <div>
          <label for="image">Image:</label>
          <% if (log.image) { %>
          <div>
            <img
              src="/uploads/<%= log.image %>"
              alt="Current Workout Image"
              style="width: 200px; height: auto"
            />
          </div>
          <% } %>
          <input type="file" id="image" name="image" />
        </div>
        <button type="submit">Update Log</button>
      </form>
    </main>
  </body>
</html>
